@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap');

// Font variables


:root{
  --headerBg: rgba(255, 255, 255, 0.6);
  --border: rgba(0, 0, 0, 0.08);
  --text: #000;
  --textTinted: rgba(0, 0, 0, 0.5);
}