// Font variables
@font-face {
  font-weight: 400;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Regular.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-weight: 500;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Medium.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-weight: 700;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Bold.woff2') format('woff2');
  font-display: optional;
}



:root{
  --text: #000;
  --textTinted: rgba(0, 0, 0, 0.5);
  --fontFamily: 'GT Walsheim Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;
}

[data-theme='dark'] {
  --text: #fff;
  --bg: #161515;
}

html,
body {
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}